.page-header {
    text-align: center;
    margin-bottom: 60px;
}

.page-header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin: 0;
    font-style: italic;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.page-header span {
    color: #ff0055;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 700;
}