#ui-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    --team-color: #fff;
}

header,
.navigation-controls,
.team-details-container {
    pointer-events: auto;
}