@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: #15151F;
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

@keyframes equalizer-center {
    0% {
        height: 4px;
    }

    50% {
        height: 24px;
    }

    100% {
        height: 4px;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}