* {
    box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #15151F;
    background-image: linear-gradient(to bottom, #15151F, #35354E);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: auto !important;
    overflow-x: hidden;
}