.track-info {
    text-align: center;
    margin-bottom: 20px;
}

.track-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    margin: 10px 0;
}

.track-round,
.track-date {
    color: #888;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

.track-image-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.track-map-img {
    max-width: 80%;
    max-height: 90%;
    filter: invert(1);
}